---
import "~/styles/index.css";

const {title} = Astro.props;
---

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title} | B&L Immobilien </title>

