---
import {Icon} from 'astro-icon'

import FeatOne from '../assets/1.jpg'
import FeatTwo from '../assets/2.jpg'
import FeatThree from '../assets/3.jpg'
---

<section class=" bg-[#F0F6F9]">

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 -mt-16  lg:py-48">
    <div class="flex flex-col w-full mb-6 lg:justify-between lg:flex-row md:mb-8">
      <div class="flex flex-col
       items-center mb-5 md:mb-6 group ">
        
  <div class="h-1 mb-5 w-36 rounded-md mr-auto duration-300 origin-left transform bg-gradient-to-r  from-brand-yellowLighten to-brand-gunmetal scale-x-30 hover:scale-x-100"></div>
   
        <h2 class=" mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
          Exeptional apartments for comfort living
            <!-- Find your next place to live -->
        </h2>
      </div>
    </div>
    <div class="grid gap-8 row-gap-5 mb-8 lg:grid-cols-3 lg:row-gap-8">

        <div class="overf;ow-hidden transition-shadow duration-300 bg-white rounded-3xl shadow-lg">
            <img src={FeatOne} class="object-cover w-full rounded-t-3xl h-64" alt="" />
            <div class="p-5 ">
              <div class=" flex justify-between">
                <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                <a href="/" class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700" aria-label="Category" title="traveling">period</a>
               <span class="text-gray-600">  2021 - 2023</span>
              </p>
              <div class=" ">
                <a href="/" aria-label="Likes" class="flex items-start text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700 group">
                  <div class="mr-2">
<Icon name='condominium' class=' h-5 w-5' />
                  </div>
                  <p class="font-semibold">4</p>
                </a>
                </div>
              </div>     
              <a href="/" aria-label="Category" title="Simple is better" class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">A slice of heaven</a>
              <p class="mb-2 text-gray-700">
                Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
              </p>
            </div>
          </div>


        <div class="overf;ow-hidden transition-shadow duration-300 bg-white rounded-3xl shadow-lg">
            <img src={FeatTwo} class="object-cover w-full rounded-t-3xl h-64" alt="" />
            <div class="p-5 ">
              <div class=" flex justify-between">
                <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                <a href="/" class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700" aria-label="Category" title="traveling">period</a>
               <span class="text-gray-600">  2020 - 2021</span>
              </p>
              <div class=" ">
                <a href="/" aria-label="Likes" class="flex items-start text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700 group">
                  <div class="mr-2">
<Icon name='condominium' class=' h-5 w-5' />
                  </div>
                  <p class="font-semibold">7</p>
                </a>
                </div>
              </div>     
              <a href="/" aria-label="Category" title="Simple is better" class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">Explore the beautiful</a>
              <p class="mb-2 text-gray-700">
                Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
              </p>
            </div>
          </div>


        <div class="overf;ow-hidden transition-shadow duration-300 bg-white rounded-3xl shadow-lg">
            <img src={FeatThree} class="object-cover w-full rounded-t-3xl h-64" alt="" />
            <div class="p-5 ">
              <div class=" flex justify-between">
                <p class="mb-3 text-xs font-semibold tracking-wide uppercase">
                <a href="/" class="transition-colors duration-200 text-blue-gray-900 hover:text-deep-purple-accent-700" apaaria-label="Category" title="traveling">period</a>
               <span class="text-gray-600">  2021 - 2023</span>
              </p>
              <div class=" ">
                <a href="/" aria-label="Likes" class="flex items-start text-gray-800 transition-colors duration-200 hover:text-deep-purple-accent-700 group">
                  <div class="mr-2">
<Icon name='apartments' class=' h-5 w-5' />
                  </div>
                  <p class="font-semibold">25</p>
                </a>
                </div>
              </div>     
              <a href="/" aria-label="Category" title="Simple is better" class="inline-block mb-3 text-2xl font-bold leading-5 transition-colors duration-200 hover:text-deep-purple-accent-700">Simple is better</a>
              <p class="mb-2 text-gray-700">
                Sed ut perspiciatis unde omnis iste natus error sit sed quia consequuntur magni voluptatem doloremque.
              </p>
            </div>
          </div>

      




       
    </div>
    <div class="text-center">
      <a href="/" aria-label="" class="inline-flex items-center font-semibold transition-colors duration-200 text-gray-700 hover:text-brand-gunmetal">
        See more
        <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
          <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
        </svg>
      </a>
    </div>
  </div>
</section>