---
import ServiceImg from '../assets/ty.jpg'
---
<div class="flex relative flex-col justify-between max-w-xl px-4 mx-auto -mt-60 lg:flex-row md:px-8 lg:max-w-screen-xl">
  <div class="relative order-first pt-80 flex justify-start max-w-xl lg:max-w-screen-xl">
    <div class="mb-16  lg:max-w-lg lg:mb-0">
      <div class="max-w-xl ">

  <div class="h-1 mb-5 w-36 rounded-md mr-auto duration-300 origin-left transform bg-gradient-to-r  from-brand-yellowLighten to-brand-gunmetal scale-x-30 hover:scale-x-100"></div>
   
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            Top real
estate services
        </h2>
        <p class="text-base  text-gray-700 md:text-lg">
        With with more than 30 Properties in CH, BL Immobilien AG is the industry’s top luxury producer with over 17 years of experience in marketing CH’s most prestigious properties. Due to our unparalleled results, expertise and dedication, BL immobilien ranks amongst the Top best agencies in CH. 
        </p>
      </div>
    </div>
  </div>
  
  <div class=" flex justify-center bg-white  px-2 pt-2 ">
    <img src={ServiceImg} class="object-cover object-top w-full h-64 mx-auto lg:h-auto md:max-w-xl" alt="" />
  </div>
</div>

