---
import ServiceImg from '../assets/slider_2_2.png'
---
<div class="relative flex  flex-col -mt-28 pb-24 px-4 py-16 mx-auto lg:block lg:flex-col lg:pt-32 xl:pt-48 md:px-8 sm:max-w-xl md:max-w-full">
  <div class="relative order-first flex justify-start max-w-xl mx-auto xl:pr-28 lg:max-w-screen-xl">
    <div class="mb-16  lg:max-w-lg lg:mb-0">
      <div class="max-w-xl ">

  <div class="h-1 mb-5 w-36 rounded-md mr-auto duration-300 origin-left transform bg-gradient-to-r  from-brand-yellowLighten to-brand-gunmetal scale-x-30 hover:scale-x-100"></div>
   
        <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
            Wir realisieren Wohnträume
        </h2>
        <p class="text-base  text-gray-700 md:text-lg">
            B&L Baumanagement AG ist Ihr Ansprechpartner für die Realisierung oder Umbau von Wohneigentum. Wir bieten das gesamte Paket von der Beratung und Planung bis zur Realisierung und dem abschliessenden Verkauf der entstandenen Liegenschaft.
        </p>
        <div class="grid grid-cols-2 gap-4 items-center mt-4">
          <ul class="space-y-3">
          <li class=" text-brand-gunmetal  hover:underline duration-700 transition text-base font-bold">
            Beratung
          </li>
          <li class=" text-brand-gunmetal text-base  no-underline hover:underline  font-bold">
            Realisierung
          </li>
          </ul>
          <ul class="space-y-3">
          
          <li class=" text-brand-gunmetal text-base no-underline hover:underline  font-bold">
            Planung
          </li>
          <li class=" text-brand-gunmetal text-base no-underline hover:underline  font-bold">
            Verkauf
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  


  <div class="z-0 flex justify-center   h-full -mt-20 lg:pb-24 lg:pr-16 xl:pr-0 lg:w-1/2 lg:absolute lg:justify-end  lg:bottom-0 lg:right-0  lg:items-center">
      <img src={ServiceImg} class="object-cover rounded-tl-3xl object-left w-full h-auto lg:w-auto  drop-shadow-3xl lg:h-full" alt="" />
  </div>

</div>

