---
import BaseHead from '../components/BaseHead.astro'
import Header from "~/components/header.astro";

const {title} = Astro.props
---
<html>
  <head>
    <BaseHead title={title} />
  </head>
  <body>
<Header />
      <slot />
        
  </body>
</html>   
