---
import BaseHead from '../components/BaseHead.astro'
import Header from "~/components/header.astro";

const {title} = Astro.props
---
<html>
  <head>
    <BaseHead title={title} />
  </head>
  <body
  
    class="h-full overflow-x-hidden "
  >
      <slot />
        
  </body>
</html>   
